{% extends "base.html" %}
{% load static %}

{% block content_head %}

{% endblock %}

{% block content %}

<!-- <body bgcolor="#EEEEEE"> -->
    <!-- <div id="ddtooltip"></div> -->
    <!-- <script type="text/javascript">ddtip_init()</script> -->

    <b>Depict Help</b>
    <p>
        This web app consists of a portal which uses basic HTML, CSS and JS
        for the user interface, and a Python framework (Django) for the backend.

        The Django backend takes in input in the form of
        (1) - SMILES (CSV format) or
        (2) - MDL Mol File

        and returns the structures of the different molecules, which is
        shown to the user using the interface. The images for the structures
        can be downloaded in JPEG, PNG, or SVG format (as specified).

        RDKit is being used to convert the different representations
        of the molecules to their respective structures.

        User can choose the image format (PNG, JPEG, or SVG) as per
        their requirements, and upload a Mol File or SMILES (csv)
        in order to get the structure of the compounds.
        <ul>
            <li>The DEMO button can be used to test run the portal with some pre-existing SMILE representations.</li>
            <li>The RESET button can be used to reset any inputs for processing.</li>
            <li>The ALIGN SMARTS checkbox toggles whether or not to align SMARTS substructures.</li>
        </ul>
    </p>
    <p>
        Lead Developer: <a href="https://github.com/Priyansh-Kedia" target="_blank">Priyansh Kedia</a>
        <br>
        Co-Developer: <a href="https://github.com/Jack-42" target="_blank">Jack Ringer</a>
        <br>
        Supervision: <a href="https://github.com/jeremyjyang" target="_blank">Jeremy Yang</a>
    </p>

    <p>
        The Github Repository can be found <a href="https://github.com/unmtransinfo/CFChemApps" target="_blank">here</a>
        <br>
        If any issues are identified, they can be reported <a href="https://github.com/unmtransinfo/CFChemApps/issues" target="_blank">here</a>
    </p>
    <hr>
   
{% endblock %}