{% extends "base.html" %}
{% load static %}

{% block content_head %}
<script>
    // script for displaying modal (zoomed-in image on click)
    $(document).ready(function () {
        // Trigger modal on image link click
        $('.image-link').on('click', function (e) {
            e.preventDefault();

            // Get image source and name from data attributes
            var imageUrl = $(this).data('image');
            var imageName = $(this).data('name');

            // Set modal content
            $('#img01').attr('src', imageUrl);
            $('#caption').text(imageName);

            // Display the modal
            $('#myModal').css('display', 'block');
        });

        // Close modal on modal container click
        $('#myModal').on('click', function () {
            $(this).css('display', 'none');
        });
    });
    </script>


<script>
    function go_demo() {
        var form = document.getElementById('mainform');
        sessionStorage.clear(); // reset options to defaults
        form.reset();
        form.action='{% url 'get_mols' request_type='demo' %}';
    }

    function reset() {
        sessionStorage.clear(); // reset options to defaults
        let url = "{% url 'index' %}"
        document.location.href = url
    }

    function help() {
        let url = "{% url 'help' %}"
        window.open(url)
    }
</script>


<script>

    function openNewWindow(svg) {
        var htmlCode = "<html><body><center><div>" + svg + "</div></center></body></html>"
        var newWindow = window.open("", "newWindow", "width=400,height=400");
        newWindow.document.write(htmlCode);
        newWindow.document.close();
    }

    function makePersistent(item, id) {
        // get the stored value and the element
        var storedValue = sessionStorage.getItem(item);
        var element = document.getElementById(id);

        // if a stored value exists, set the element's value
        if (storedValue !== null) {
            element.value = storedValue;
        }

        // add event listener to persist changes
        element.addEventListener("change", function() {
            var value = element.value;
            sessionStorage.setItem(item, value);
        });
    }

    function makePersistentCheckbox(item, id) {
        // set alignSmarts checkbox if it was previously set
        var storedValue = sessionStorage.getItem(item);
        var element = document.getElementById(id);
    
        if (storedValue !== null) {
            element.checked = storedValue === "true";
        }
    
        // add event listener to persist checkbox
        element.addEventListener("change", function() {
            sessionStorage.setItem(item, element.checked);
        });
    }

    function makePersistentSelect(item, id) {
        var defOption = id + "Default";
        // Get the select element and the default selected option
        var element = document.getElementById(id);
        var defaultOption = document.getElementById(defOption);

        // Check if there is a saved value in storage
        var savedSize = sessionStorage.getItem(item);

        // Set the selected option based on the saved value or default
        defaultOption.selected = true;  // Ensure one is always selected
        if (savedSize) {
            // Find the option with the saved value and select it
            var selectedOption = Array.from(element.options).find(option => option.value === savedSize);
            if (selectedOption) {
                selectedOption.selected = true;
            }
        }
        // Add an event listener to save the selected option when it changes
        element.addEventListener("change", function () {
            sessionStorage.setItem(item, element.value);
        });
    }


    function setListeners() {
        var modal = document.getElementById('myModal');
        var modalImg = document.getElementById("img01");
        const captionText = document.getElementById("caption");
        var images = document.querySelectorAll(".image-div")
        for (var i = 0; i < images.length; i++) {
            images[i].onclick = function () {
                modal.style.display = "block";
                modalImg.src = "/" + this.getAttribute('value');
                modalImg.alt = this.getAttribute('name');
                captionText.innerHTML = this.getAttribute('name');
            }
        }

        modal.onclick = function () {
            modalImg.className += " out";
            setTimeout(function () {
                modal.style.display = "none";
                modalImg.className = "modal-content";
            }, 400);

        }

        window.onkeyup = function (event) {
            if (event.keyCode == 27) {
                modalImg.className += " out";
                setTimeout(function () {
                    modal.style.display = "none";
                    modalImg.className = "modal-content";
                }, 400);
            }
        }

        document.getElementById("reset-button").onclick = function () {
            reset();
        }

        document.getElementById("help-button").onclick = function () {
            help();
        }

        // defined in input_options.html
        var molfmt = document.getElementById('molFmt');
        var options = document.getElementById('user-options-csv');

        function checkMolfmtValue() {
            if (molfmt.value === 'SMILES') { 
                options.style.display = 'block';
            } else {
                options.style.display = 'none';
            }
        }

        // Run checkMolfmtValue when the page loads
        checkMolfmtValue();

        // Run checkMolfmtValue when the value of molfmt changes
        molfmt.addEventListener('change', checkMolfmtValue);
    };
</script>

<script>
    function readFile() {
        document.getElementById('infile').addEventListener('change', function () {
            var file_reader = new FileReader();
            file_reader.onload = function () {
                document.getElementById('textarea').textContent = file_reader.result;
            }
            file_reader.readAsText(this.files[0]);
        })
    }
</script>

<script type="text/javascript">

    var reader = new FileReader();

    function readText(that) {

        if (that.files && that.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var output = e.target.result;

                //process text to show only lines with "@": 
                output = output.split("n").filter(/./.test, /@/).join("n");

                document.getElementById('main').innerHTML = output;
            };//end onload()
            reader.readAsText(that.files[0]);
        }//end if html5 filelist support
    } 
</script>

<script>

    window.onload = function () {
        setListeners();
        readFile();
        adjustImageGrid();
        adjustImageContentWidths();
    };

</script>

{% endblock %}

{% block content %}

<FORM NAME="mainform" id="mainform" method="post" action="{% url 'get_mols' request_type='input' %}"
    ENCTYPE="multipart/form-data">
    <INPUT TYPE=HIDDEN NAME="depict">
    <TABLE WIDTH="100%">
        <TR>
            <TD>
                <H1>Depict</H1>
            </TD>
            <TD ALIGN=RIGHT>
                <BUTTON TYPE=BUTTON id="help-button"><B>Help</B></BUTTON>
                <BUTTON type="submit" form="mainform" onclick="go_demo()"><B>Demo</B></BUTTON>
                <BUTTON TYPE=BUTTON id="reset-button" onClick="reset()"><B>Reset</B></BUTTON>
            </TD>
        </TR>
    </TABLE>
    <HR>
    <TABLE WIDTH="100%" CELLPADDING=5 CELLSPACING=5>
        <TR BGCOLOR="#CCCCCC">
            <TD VALIGN=TOP>
                Upload: <input accept="{{ acceptable_filetypes|join:', ' }}" id="infile" type="file" name="infile"> ...or paste:<br>

                <TEXTAREA NAME="intxt" id="textarea" WRAP=OFF ROWS=12 COLS=50>{{ input_text }}</TEXTAREA>
            </TD>
            <TD VALIGN=TOP>
                {% include "depict/input_options.html" %}
            </TD>
            <TD VALIGN=TOP>
                {% include "depict/output_options.html" %}
            </TD>
            
            <td valign="top">
                <b>SMARTS: </b><br><br>
                <div id="user-options-container">
                    <input type="text" name="smarts" id="smartsEntry" size="48" value="">
                    <br>
                    <label for="alignSmarts">Align SMARTS</label>
                    <input type="checkbox" id="alignSmarts" name="alignSmarts" checked>
                </div>
                <br><br>
                <b>Failures: </b><br>
                <!-- box for logging info -->
                <textarea readonly WRAP=OFF ROWS=6 COLS=50>
                {% for mol_err_msg in failures %}
                {{ mol_err_msg }}
                {% endfor %}
                </textarea>
            </td>
            <script>
                var inputs = document.querySelectorAll('#user-options-container input');
                var selects = document.querySelectorAll('#user-options-container select');
                // Apply makePersistent to input options
                inputs.forEach(function(input) {
                    console.log(input.name, input.id, input.type);
                    if (input.type === 'checkbox') {
                        makePersistentCheckbox(input.name, input.id);
                    }
                    else {
                        makePersistent(input.name, input.id);
                    }
                });
                selects.forEach(function(select) {
                    console.log(select.name, select.id, select.type);
                    makePersistentSelect(select.name, select.id);
                });
            </script>
        </TR>
    </TABLE>
    <P>
        <CENTER>
            <input type="submit" value="Depict">
            <!-- <BUTTON TYPE=BUTTON onClick="go_depict(this.form)"><B>Go Depict</B></BUTTON> -->
        </CENTER>
        {% csrf_token %}
</FORM>
<br>
<center>
    <div class="image-grid" id="imageGrid">
        {% for image, fname, name in images %}
            <div class="image-content">
                <a href="#" class="image-link" data-image="{{ static }}/{{ image|safe }}" data-name="{{ name }}">
                    <img class="molimg" src="/{{ image|safe }}" alt="{{ name }}">
                    </img>
                </a>
                <div class="textbox">{{ name }}</div>
                <button type="button" class="btn btn-default delete-image-btn">
                    <a href="{{ static }}/{{ image|safe }}" download="{{ fname }}">Download</a>
                </button>
            </div>
        {% endfor %}
    </div>
    <div id="myModal" class="modal">
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <script>
        function adjustImageGrid() {
            // this function is used to center the image grid if there's only one row of images
            // Get the image grid element
            var imageGrid = document.getElementById("imageGrid");
            
            // Get the height of the image grid and the height of a single image
            var gridHeight = imageGrid.offsetHeight;
            var querySelector = imageGrid.querySelector('.image-content')
            if (querySelector === null) {
                // no images to display, don't need to do anything more
                return;
            }
            var imageHeight = querySelector.offsetHeight;
    
            // If the height of the image grid is less than or equal to the height of a single image (plus margins), it means there's only one row
            if (gridHeight <= imageHeight + 2) { // assuming 1px margin
                imageGrid.style.justifyContent = 'center';
            } else {
                imageGrid.style.justifyContent = 'flex-start';
            }
        }
        function adjustImageContentWidths() {
            // adjust the width of image-content to match the width of the images
            var imageContents = document.getElementsByClassName("image-content");
            for (var i = 0; i < imageContents.length; i++) {
                var image = imageContents[i].getElementsByTagName("img")[0];
                var padding = 12;
                var width = image.offsetWidth + padding;
                imageContents[i].style.maxWidth = width + 'px';
            }
        }
    </script>
</center>
<!-- Display alerts for messages if they occur -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}