<div id="user-options-container">
    <h2>Input Options:</h2>
    <div class="input-selection" data-tooltip="Input format. Select 'MolFile' for SDF and MOL formats, 'SMILES' for inputs with delimiter-separated values (e.g., TSV)">
        <label for="molfmt">Format</label>
    </div>
    <SELECT NAME="molfmt" id="molFmt">
        <OPTION VALUE="MOLFILE">
            Molfile
        <OPTION VALUE="SMILES"  id="molFmtDefault" selected>
            SMILES
    </SELECT>
    <BR>
    <div id="user-options-csv">
        <div class="input-selection" data-tooltip="File delimiter">
            <label for="delimeter">Delimiter</label>
        </div>
        <select class="input-selection" name="delimiter" id="delimChoice">
            <option value=" " id="delimChoiceDefault" selected>" " - space</option>
            <option value=",">"," - comma</option>
            <option value="\t">"\t" - tab</option>
        </select>
        <BR>
        <div class="input-selection" data-tooltip="Column index of SMILES (indexing from 0)">
            <label for="smiles_col">SMILES Col</label>
        </div>
        <INPUT TYPE="number" NAME="smiles_col" id="smiles_column" min=0 SIZE=4 VALUE="0">
        <BR>
        <div class="input-selection" data-tooltip="Column index of molecule names (indexing from 0)">
            <label for="name_col">Name Col</label>
        </div>
        <INPUT TYPE="number" NAME="name_col" id="name_column" min=0 SIZE=4 VALUE="1">
        <BR>
        <div class="input-selection" data-tooltip="Indicates if header line present">
            <label for="has_header">Header</label>
        </div>
        <INPUT TYPE="checkbox" NAME="has_header" id="header_checkbox">
    </div>
</div>