<style>
    #user-options-csv {
        display: none;
    }
</style>
<div id="user-options-container">
    <B>Input Options:</B><BR>
    <label for="molfmt">Format</label>
    <SELECT NAME="molfmt" id="molFmt">
    <OPTION VALUE="mol" id="molFmtDefault" selected>
        MDL Molfile
    <OPTION VALUE="csv">
        SMILES
    </SELECT><BR>
    <div id="user-options-csv">
        <label for="delimeter">Delimiter</label>
        <select name="delimiter" id="delimChoice">
            <option value=" " id="delimChoiceDefault" selected>" " - space</option>
            <option value=",">"," - comma</option>
            <option value="\t">"\t" - tab</option>
        </select><br>
        <label for="has_header">SMILES Col</label>
        <INPUT TYPE="number" NAME="smiles_col" id="smiles_column" min=0 SIZE=2 VALUE="0"><BR>
        <label for="has_header">Name Col</label>
        <INPUT TYPE="number" NAME="name_col" id="name_column" min=0 SIZE=2 VALUE="1"><BR>
        <label for="has_header">Header</label>
        <INPUT TYPE="checkbox" NAME="has_header" id="header_checkbox"><BR>
        <label for="sanitize_mols">Sanitize</label>
        <INPUT TYPE="checkbox" NAME="sanitize_mols" id="sanitize_checkbox" CHECKED>
    </div>
</div>
<script>
    window.onload = function() {
        var molfmt = document.getElementById('molFmt');
        var options = document.getElementById('user-options-csv');
    
        function checkMolfmtValue() {
            if (molfmt.value === 'csv') {
                options.style.display = 'block';
                sessionStorage.setItem('displayOptions', 'block');
            } else {
                options.style.display = 'none';
                sessionStorage.setItem('displayOptions', 'none');
            }
        }
    
        // Run checkMolfmtValue when the page loads
        var displayOptions = sessionStorage.getItem('displayOptions');
        if (displayOptions) {
            options.style.display = displayOptions;
        } else {
            checkMolfmtValue();
        }
    
        // Run checkMolfmtValue when the value of molfmt changes
        molfmt.addEventListener('change', checkMolfmtValue);
    };
</script>
