<div id="user-options-container">
    <B>Output Options:</B>
    <BR>
    <label for="sanitize_mols">Sanitize</label>
    <INPUT TYPE="checkbox" NAME="sanitize_mols" id="sanitize_checkbox" CHECKED>
    <BR>
    <label for="imgfmt">Format</label>
    <select name="imgfmt" id="imgFormat">
        <option value="png" id="imgFormatDefault" selected>png</option>
        <option value="jpeg">jpeg</option>
        <option value="svg">svg</option>
    </select>
    <BR>
    <label for="size">Size</label>
    <select name="size" id="sizeSelector">
        <option value="xs">xs - 96x96</option>
        <option value="s">s - 160x160</option>
        <option value="m" id="sizeSelectorDefault" selected="">m - 180x260</option>
        <option value="l">l - 280x380</option>
        <option value="xl">xl - 480x640</option>
    </select>
</div>