<div id="user-options-container">
    <h2>Output Options:</h2>
    <div class="input-selection" data-tooltip="Parse molecules with sanitization">
        <label for="sanitize_mols">Sanitize</label>
    </div>
    <INPUT TYPE="checkbox" NAME="sanitize_mols" id="sanitize_checkbox" CHECKED>
    <BR>
        <div class="input-selection" data-tooltip="Display molecules with kekulization">
            <label for="kekulize_mols">Kekulize</label>
        </div>
        <INPUT TYPE="checkbox" NAME="kekulize_mols" id="kekulize_checkbox" CHECKED>
    <BR>
    <div class="input-selection" data-tooltip="Output image format">
        <label for="imgfmt">Format</label>
    </div>
    <select name="imgfmt" id="imgFormat">
        <option value="png" id="imgFormatDefault" selected>png</option>
        <option value="jpeg">jpeg</option>
        <option value="svg">svg</option>
    </select>
    <BR>
    <div class="input-selection" data-tooltip="Output images quality">
        <label for="size">Resolution</label>
    </div>
    <select name="size" id="sizeSelector">
        <option value="xs">800x500</option>
        <option value="s" id="sizeSelectorDefault" selected="">1000x600</option>
        <option value="m">1400x800</option>
    </select>
    <BR>
    <div class="input-selection" data-tooltip="Output images per row">
        <label for="mols-row">Mols/Row</label>
    </div>
    <select name="mols-row" id="mols-row">
        <option value="ten">10</option>
        <option value="eight">8</option>
        <option value="six" id="mols-rowDefault" selected="">6</option>
        <option value="four">4</option>
    </select>
    <BR>
    <div class="input-selection" data-tooltip="Index of first molecule to visualize (indexing from 0)">
        <label for="start_idx">Start Index</label>
    </div>
    <INPUT TYPE="number" NAME="start_idx" id="startIdx" min=0 SIZE=4 VALUE="0">
    <BR>
    <div class="input-selection" data-tooltip="Number of molecules to visualize, beginning from given start index">
        <label for="max_mols">N. Molecules</label>
    </div>
    <INPUT TYPE="number" NAME="max_mols" id="maxMols" min=1 max=500 SIZE=4 VALUE="20">
</div>