/* styles.css */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}


/* show last row with same spacing */
.image-grid::after {
    content: "";
    flex: auto;
}


.image-item img {
    max-width: 100%;
    height: auto;
}


.image-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px
}


/* include small margin around text (name of each compound */
.tt {
    margin: 5px;
}


/* make it so image has changed opacity to indicate it is clickable (for zoom-in) */
.image-link:hover {
    opacity: 0.2;
}


