/* styles.css */
/* TODO: fix grid spacing, especially for larger image sizes*/
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Center items on the row */
}

.grid::after {
  content: "";
  flex: auto;
}


.image-item {
    flex: 0 0 calc(30% - 10px);
    margin: 0 5px 10px 0; /* Adjust right margin to create space between items and add bottom margin */
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.image-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tt {
    margin-top: 5px;
}

.delete-image-btn {
    margin-top: 5px;
}

.image-link:hover {
    opacity: 0.2;
}


