{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    {% block title%} {% endblock %}

    <link rel="icon" href="/static/images/kid-white.png" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    {% block content_head %} {% endblock %}
</head>



<body>
    <div>
        {% block content %} {% endblock %}
    </div>

    <table cellspacing="5" cellpadding="5">
        <tbody>
            <tr>
                <td><a onmouseover="dd_tip('Depict web app from UNM Translational Informatics.','white',200)"
                        href="https://datascience.unm.edu/" onmouseout="dd_hidetip()"><img border="0"
                        src="{% static 'images/unmlogo.png' %}"></a></td>
                <td><a onmouseover="dd_tip('JChem from ChemAxon Ltd.','white',200)" href="https://www.chemaxon.com"
                        onmouseout="dd_hidetip()"><img border="0"
                            src="{% static 'images/rdkit.png' %}"></a></td>
            </tr>
        </tbody>
    </table><br>


</body>

</html>