<!DOCTYPE html>
<html>

<head>
    <title>
        App test
    </title>
</head>

<body>

    <button>Demo</button>

<form method="post" action="{{ url_for('test') }}">
    <textarea name="intxt" wrap="OFF" rows="12" cols="60"></textarea>

    <!-- <button type="BUTTON" onclick="test(this.form)">
        <b>Go Depict</b>
    </button> -->
    <input type="submit">
</form>

<p>test</p>

   <center>
    <table border>
        <tbody>
            {% for image, name in images %}
            <tr display="inline">
                <td align="CENTER">
                {{ image|safe }}
                <br>
                <tt>
                    {{ name }}
                </tt>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   </center>

   

</body>

</html>